parameters:
    level: 8
    paths:
        - src
        - tests
    parallel:
        maximumNumberOfProcesses: 5
    editorUrlTitle: '%%relFile%%:%%line%%'
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
